<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
   <%- include('./partials/nav.ejs') %>
   <div id="recipelist">
       <h2>List of Recipes</h2>
       <% if (recipes.length > 0) { %>
        <% recipes.forEach(recipe => {  %>
          <a href="/recipes/<%= recipe._id %>">
            <h4 class="name"> <%= recipe.name %></h4>
          </a> 
          <hr>      
       <% }) %>
       <% } else{ %>
        <p>There were no recipes found. Add one by clicking <a href="recipes/add">here</a>! </p>
      <% } %>
   </div>
   <%- include('./partials/footer.ejs') %>
</body>
</html>